name: Chimera CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker environment
        run: make setup

      - name: Run tests in Docker
        run: make test
